<html>
	<head>
	<title>yelpcamp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	
	<body>
		
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">yelpcamp</a>
		</div>
		<div class="nav navbar-nav">
		<!-- <ul class="nav navbar-nav navbar-right">
			<li><a href="/">signup</a></li>
			<li><a href="/">login</a></li>
			<li><a href="/">logout</a></li>
		</ul> -->
			<div class="navbar-nav mr-auto">
				<ul>
					
						<li><a href="/register">signup</a></li>
						<li><a href="/login">login</a></li>
						
						<li><a href="/logout">logout</a></li>
						
	
			</ul>
			</div>
			
	</div>
	</div>
</nav>
<div class="container">
	<% if(error && error.length>0) {%>
	<div class="alert alert-danger" role="alert">
		<%= error %>
	  </div>
	  <% } %>
	  <% if(success && success.length>0) {%>
	  <div class="alert alert-success" role="alert">
		<%= success %>
	  </div>
	  <% }%>
</div>