<%- include("partials/header") %>
<h2>
	login
</h2>
<form action="/login" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="password" placeholder="pssword">
	<button>
		login
	</button>
</form>
<%- include("partials/footer") %>