<%- include("partials/header") %>

<h4>
	sign up
</h4>
<form action="/register" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="password" placeholder="password">
	<button>
		submit
	</button>
 </form>

<%- include("partials/footer") %>